body {
        padding: 5px;
}
#map {
        height: 825px;
}
h1 {
        font-size: 40px;
      	margin-top:0;
        color: black;
        text-align: center;
        padding: 5px;
}

h2 {
        font-size: 16px;
        color: black;
        padding: 5px;
}
p1 {
	    color: black;
	    font-size:15px;
	    font-weight: bold;
}
p2 {
	    color: black;
        font-size:15px;
        font-weight: bold;
}
p3 { 
        color: black;
        font-size:15px;
}
p4 {
	    color: black;
	    font-size:15px;
}
.geojsonLayer4 {
    z-index: 2 !important;
}

.geojsonLayer3 {
    z-index: 1 !important;
}

#slider-timestamp {
    background: rgba(255,255,255,0.8);
}